.container {
  min-width: 20em;
  min-height: 20em;
  position: absolute;
  z-index: 9999;
  top: 10%;
  right: 40%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.select {
  text-align: center;
}
